# Analyse de données - On bride NumPy pour la compatibilité SHAP
pandas>=2.2.0
numpy>=1.26.0,<2.0.0

# Machine Learning & Prétraitement
scikit-learn>=1.4.0
imbalanced-learn>=0.12.0
xgboost>=2.0.0

# Visualisation & Interprétabilité
matplotlib>=3.8.0
seaborn>=0.13.0
shap>=0.45.0
numba>=0.59.0

# Persistance du modèle
joblib>=1.4.0

# Interface
streamlit>=1.35.0